
	
<div class="container">
	<h3>Partyname or SN</h3>
	<p>
	<%= form_tag sites_path, :method => 'get' do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil ,class: "btn btn-large btn-primary" %>
	  </p>
	  
	<% end %>
	
	
</div>