<% provide(:title, 'All SNs') %>
<h1>All SNs</h1>

<div class="container">
<table class="table table-striped">
  <tr>
    <th>SN.</th>
    <th>Description</th>
  </tr>
 
<% @parts.each do |part| %>
  <tr>
    <td><%= link_to part.serialnumber, part %></td>
    <td><%= part.partdescription %></td>
	
  </tr>
<% end %>
</table>

<%= will_paginate %>

</div>