<footer class="footer">
  <small>
    <a href="mailto:tobias.bischoff@emc.com">by Tobias Bischoff</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      
    </ul>
  </nav>
</footer>